{{ $cur := . }}
{{ $active := slice "en" "ja" "es" "ko" }}
{{ if gt (len site.Languages) 1 }}
<span class="lang-switch">
  {{ range site.Languages }}
    {{ if in $active .Lang }}
      {{ $code := .Lang }}
      {{ $label := upper $code }}
      {{ $href := printf "/%s/" $code }}
      {{ if eq $code "en" }}{{ $href = "/" }}{{ end }}
      {{ with $cur.AllTranslations }}
        {{ range . }}
          {{ if eq .Lang $code }}{{ $href = .RelPermalink }}{{ end }}
        {{ end }}
      {{ end }}
      <a href="{{ $href }}"
         class="lang-switch__link{{ if eq site.Language.Lang $code }} is-active{{ end }}">{{ $label }}</a>
    {{ end }}
  {{ end }}
</span>
{{ end }}
