[submodule "themes/themes/hugo-vitae"]
	path = themes/themes/hugo-vitae
	url = git@github.com:dataCobra/hugo-vitae.git
[submodule "themes/hugo-vitae"]
	path = themes/hugo-vitae
	url = git@github.com:dataCobra/hugo-vitae.git
