[build]
HUGO_VERSION = "0.136.4"
publish = "public"
command = "make prod_build"

[context.production.environment]
HUGO_VERSION = "0.136.4"
HUGO_ENV = "production"
HUGO_ENABLEGITINFO = "true"

[context.deploy-preview]
HUGO_VERSION = "0.136.4"
command = "make getmodules; hugo --cleanDestinationDir --templateMetrics --templateMetricsHints --gc --logLevel info --buildDrafts --buildFuture -b $DEPLOY_PRIME_URL"

[context.deploy-preview.environment]
HUGO_VERSION = "0.136.4"
HUGO_ENV = "staging"
HUGO_ENABLEGITINFO = "true"
command = " hugo --cleanDestinationDir --templateMetrics --templateMetricsHints --gc --logLevel info --buildDrafts --buildFuture -b $DEPLOY_PRIME_URL"
