[build]
HUGO_VERSION = "0.136.4"
publish = "public"
command = "make prod_build"

[context.production.environment]
HUGO_VERSION = "0.136.4"
HUGO_ENV = "production"
HUGO_ENABLEGITINFO = "true"
GO_VERSION = "1.23"         # Add this line to specify a modern Go version

[context.deploy-preview]
HUGO_VERSION = "0.136.4"
command = "make getmodules; hugo --cleanDestinationDir --templateMetrics --templateMetricsHints --gc --logLevel info --buildDrafts --buildFuture -b $DEPLOY_PRIME_URL"

[context.deploy-preview.environment]
HUGO_VERSION = "0.136.4"
GO_VERSION = "1.23"                                                                                                                                    # Add this line to specify a modern Go version
HUGO_ENV = "staging"
HUGO_ENABLEGITINFO = "true"
command = " hugo --cleanDestinationDir --templateMetrics --templateMetricsHints --gc --logLevel info --buildDrafts --buildFuture -b $DEPLOY_PRIME_URL"


[[headers]]
  for = "/*"
  [headers.values]
    X-Content-Type-Options = "nosniff"
    Strict-Transport-Security = "max-age=31536000; includeSubDomains; preload"
    X-Frame-Options = "deny"
    Referrer-Policy = "no-referrer"
    Feature-Policy = "microphone 'none'; payment 'none'; geolocation 'none'; midi 'none'; sync-xhr 'none'; camera 'none'; magnetometer 'none'; gyroscope 'none'"
    Content-Security-Policy = "default-src 'none'; manifest-src 'self'; font-src 'self'; img-src 'self'; style-src 'self'; form-action 'none'; frame-ancestors 'none'; base-uri 'none'"
    X-XSS-Protection = "1; mode=block"
    
    [[headers]]
      for = "/*.js"
      [headers.values]
        Cache-Control = "public, max-age=31536000, immutable"
    
    [[headers]]
      for = "/*.css"
      [headers.values]
        Cache-Control = "public, max-age=31536000, immutable"
    
    [[headers]]
      for = "/*.jpg"
      [headers.values]
        Cache-Control = "public, max-age=31536000, immutable"
    
    [[headers]]
      for = "/"
      [headers.values]
        Cache-Control = "public, max-age=3600"