<meta
    name="description"
    content="{{ with .Description }}{{ . }}{{ else }}{{ if .IsPage }}{{ .Summary | plainify | truncate 160 }}{{ else }}{{ with .Site.Params.description }}{{ . }}{{ end }}{{ end }}{{ end }}"
/>
<meta name="author" content="Harper Reed <{{.Site.Params.email}}>" />
<link rel="shortcut icon" href="/favicon.ico" />

<link href="https://twitter.com/harper" rel="me" />
<link href="https://github.com/harperreed" rel="me" />
<link href="https://reading.lol" rel="me" />
<link href="https://photos.lol" rel="me" />
<link href="https://harper.lol" rel="me" />
<link href="https://social.modest.com/@harper" rel="me" />
<link href="https://www.threads.net/@harperreed" rel="me" />
<link href="https://bsky.app/profile/harper.lol" rel="me" />
<link href="https://gravatar.com/harperreeed" rel="me" />
<link href="harper@modest.com" rel="me" />
<link href="harper@nata2.org" rel="me" />

<link
    rel="shortcut icon"
    href="https://micro.blog/harper/favicon.png"
    type="image/x-icon"
/>
<link
    rel="EditURI"
    type="application/rsd+xml"
    href="https://harper.micro.blog/rsd.xml"
/>
<link rel="authorization_endpoint" href="https://micro.blog/indieauth/auth" />
<link rel="token_endpoint" href="https://micro.blog/indieauth/token" />
<link rel="subscribe" href="https://micro.blog/users/follow" />
<link rel="webmention" href="https://micro.blog/webmention" />
<link rel="webmention" href="https://tinylytics.app/webmention/WV5Khk7ZG6MZe6q49ikx" />
<link rel="micropub" href="https://micro.blog/micropub" />
<link rel="microsub" href="https://micro.blog/microsub" />
