{{/* ABOUTME: Resource hints for faster page loading (preconnect, dns-prefetch). */}}
{{/* ABOUTME: Improves performance by establishing early connections to external domains. */}}

{{/* Preconnect to frequently used domains */}}
<link rel="preconnect" href="https://fonts.googleapis.com" crossorigin>
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link rel="preconnect" href="https://tinylytics.app" crossorigin>

{{/* DNS prefetch for other external resources */}}
<link rel="dns-prefetch" href="https://cdn.bsky.app">
<link rel="dns-prefetch" href="https://s.gravatar.com">
<link rel="dns-prefetch" href="https://cdnjs.cloudflare.com">
<link rel="dns-prefetch" href="https://static.cloudflareinsights.com">
