
{{/* RSS feed: emit the page-level feed when available, otherwise the site root feed.
     On the homepage both resolve to the same URL so we emit only one. */}}
{{- $rootFeed := "" }}
{{- with .Site.GetPage "/" }}
  {{- with .OutputFormats.Get "rss" }}
    {{- $rootFeed = .Permalink }}
  {{- end }}
{{- end }}

{{- $pageFeed := "" }}
{{- with .Page }}
  {{- with .OutputFormats.Get "rss" }}
    {{- $pageFeed = .Permalink }}
  {{- end }}
{{- end }}

{{- if and $pageFeed (ne $pageFeed $rootFeed) }}
{{ printf `<link rel="alternate" type="application/rss+xml" href="%s" title="%s" />`
    $pageFeed
    (printf "%s - %s" $.Page.Title $.Site.Title) | safeHTML }}
{{- end }}
{{ printf `<link rel="alternate" type="application/rss+xml" href="%s" title="%s" />`
    $rootFeed
    $.Site.Title | safeHTML }}

