<!-- Content Security Policy (CSP) -->
<meta
    http-equiv="Content-Security-Policy"
    content="
    default-src 'self';
    script-src 'self' https://cdnjs.cloudflare.com https://static.cloudflareinsights.com https://tinylytics.app;
    style-src 'self' 'unsafe-inline' https://cdnjs.cloudflare.com;
    font-src 'self';
    img-src 'self' data: https: https://s.gravatar.com https://cdn.bsky.app;
    connect-src 'self' https:;
    media-src 'self';
    object-src 'none';
    frame-src 'self' https://www.youtube.com https://youtube.com https://youtu.be https://open.spotify.com;
    form-action 'self';
    base-uri 'self';
    upgrade-insecure-requests;"
/>

<meta http-equiv="x-dns-prefetch-control" content="on" />
