
<meta http-equiv="x-dns-prefetch-control" content="on" />

<!-- Cross-Site Scripting Protection -->
<meta http-equiv="X-XSS-Protection" content="1; mode=block" />

<!-- Prevent MIME-type sniffing -->
<meta http-equiv="X-Content-Type-Options" content="nosniff" />

<!-- Referrer Policy -->
<meta name="referrer" content="strict-origin-when-cross-origin" />

<!-- Force HTTPS -->
<meta
    http-equiv="Strict-Transport-Security"
    content="max-age=31536000; includeSubDomains"
/>

<!-- Disable caching for sensitive pages -->
<meta
    http-equiv="Cache-Control"
    content="no-store, no-cache, must-revalidate, proxy-revalidate"
/>
<meta http-equiv="Pragma" content="no-cache" />
<meta http-equiv="Expires" content="0" />
