/* Base layer for fundamental site-wide styles */
@layer base {
  body {
    @apply antialiased;
  }
}

.main-body {
  @apply min-h-screen bg-[#ff667c] text-[#000]  min-h-screen flex flex-col border border-blue-500;
}

.main-container {
  @apply container mx-auto px-4 py-4 sm:py-8 flex-grow;
}

.article-body {
  @apply max-w-4xl mx-auto py-2 px-0 sm:px-4 dark:bg-gray-900;
}

.article-title {
  @apply text-3xl sm:text-4xl lg:text-5xl font-bold dark:text-white mb-6;
  /* Add this if using h1 element */
  @apply leading-tight tracking-tight;
}

.article-date {
  @apply text-gray-600 dark:text-gray-300;
}

.content {
  @apply prose lg:prose-xl dark:prose-invert max-w-none print:prose-sm print:max-w-none;
}

.outofdate-warning {
  @apply mt-3 border border-dashed p-3 text-base bg-gray-100;
}

figure {
  @apply text-center;
}

figure img {
  @apply rounded-sm shadow-sm;
}

figcaption {
  @apply text-sm text-gray-300 dark:text-gray-400;
}
