{{ define "main" }}
<article>
  {{ .Content }}

  {{ if .Data.Singular }}
    <p class="text-text-muted italic mb-6">{{ i18n "filtering-for" }} "{{ .Title }}"</p>
  {{ end }}
  <ul class="post-list">
    {{ range .Pages }}
    <li class="contents">
      <span class="post-date">
        <time datetime='{{ .Date.Format "2006-01-02" }}' aria-label="Date: {{ .Date.Format (default "2006-01-02" .Site.Params.dateFormat) }}">
          {{ .Date.Format (default "2006-01-02" .Site.Params.dateFormat) }}
        </time>
      </span>
      {{ if .Params.link }}
        <a href="{{ .Params.link }}" target="_blank" rel="noopener noreferrer">{{ .Title }} ↪</a>
      {{ else }}
        <a href="{{ .RelPermalink }}">{{ .Title }}</a>
      {{ end }}
    </li>
    {{ else }}
    <li>
      {{ i18n "no-posts" }}
    </li>
    {{ end }}
  </ul>

  {{ partial "pagination.html" . }}
</article>
{{ end }}
