{{ define "main" }}


{{ if not .Params.menu }}
<h1>{{ .Title }}</h1>
<p class="byline">
  <time datetime='{{ .Date.Format "2006-01-02" }}' pubdate aria-label="Date: {{ .Date.Format (default "2006-01-02" .Site.Params.dateFormat) }}">
    {{ .Date.Format (default "2006-01-02" .Site.Params.dateFormat) }}
  </time>
  {{ with .Params.author }}· {{.}}{{ end }} &middot;
  {{ .WordCount }}&nbsp;{{ i18n "words" }} &middot;
  {{ .ReadingTime }}&nbsp;{{ i18n "minutes" }} &middot;
  <button class="tinylytics_kudos" data-path="{{ .Page.RelPermalink }}"></button>
</p>
{{ end }}

{{ partialCached "out_of_date.html" . (.Date.Format "2006") }}



{{ if .Params.translationKey }}
<p>
    {{/* layouts/partials/language-selector.html */}}
    {{- $p := . -}}                              {{/* current page */}}

      <span class="label">
        {{ i18n "available_languages" | default "Also available in:" }}
      </span>
        {{ range sort .Site.Languages "Weight" }}{{/* order = weight */}}
          {{ $lang := .Lang }}
          {{ $name := .LanguageName }}
          {{ if ne $lang $p.Lang }} {{/* Only show languages different from current */}}
            {{ $matches := where $p.Translations "Lang" $lang }}
            {{ if gt (len $matches) 0 }}
              {{ $t := index $matches 0 }}
              <a href="{{ $t.RelPermalink }}" class="language-option"
                 title="{{ $name }}">{{ $name }}</a>
            {{ end }}
          {{ end }}
        {{ end }}
    </p>

{{ end }}
<content>
  
  {{ .Content }}
</content>

{{ partialCached "generated.html" . .Title}}

{{ partialCached "tags.html" . .Title}}

{{ partialCached "comments.html" . .Title}}
{{ end }}
