{{ define "main" }}

<h1>The list of all {{ len (where .Site.Pages "Type" "post")  }} archived posts.</h1>

<p>Most of these are from years ago and are representative of a youth long forgotten and often still enjoyed. Warning: The earlier you go, the more lost I am. lol</p>

<div class="post">
  <ul>
  {{ range (where .Site.Pages "Type" "post") }}
    {{ if eq .Type  "post" }}
        <li>{{ .Date.Format "Jan 2, 2006" }} &mdash; <a href="{{ .RelPermalink }}">{{ .Title }}</a></li>

    {{ end }}
{{ end }}
  </ul>

</div>

{{ end }}


