{{ define "main" }}
<div class="article-body">
  <h1 class="article-title">Notes</h1>

  <div class="content">{{ .Content }}</div>

  <!-- Notes Stream -->
  <div class="space-y-12">
    {{ $paginator := .Paginate .Pages 10 }} {{ range $paginator.Pages }}
    <article
      class="group border bg-white p-4 sm:p-6 sm:rounded-lg sm:shadow-sm sm:hover:shadow-md sm:transition-shadow"
    >
      <!-- Date Header -->
      <div class="article-date">{{ .Date.Format "January 2, 2006" }}</div>

      <!-- Note Content -->
      <div class="content">{{ .Content }}</div>

      <!-- Images -->
      {{ with .Resources.ByType "image" }}
      <div
        class="grid grid-cols-1 sm:grid-cols-2 gap-4 my-4 border flex justify-center"
      >
        {{ range . }} {{ $image := .Resize "800x webp" }}
        <img
          src="{{ $image.RelPermalink }}"
          alt="{{ with .Title }}{{ . }}{{ else }}Image{{ end }}"
          class="rounded-lg shadow-sm hover:shadow-md transition-shadow w-full h-full object-cover aspect-ratio: auto;"
          loading="lazy"
        />
        {{ end }}
      </div>
      {{ end }}

      <!-- Permalink -->
      <a
        href="{{ .RelPermalink }}"
        class="text-sm text-gray-400 hover:text-blue-600 focus:opacity-100 group-hover:opacity-100 transition-opacity"
        tabindex="0"
        title="Permanent link to this note"
      >
        #
      </a>
    </article>
    {{ end }}
  </div>

  <!-- Pagination -->
  {{ partial "pagination.html" . }}
</div>
{{ end }}
