{{ define "main" }} {{ .Content }}
<div class="masonry-columns">
    {{ range where .Site.RegularPages "Type" "notes" }} 
    
    {{ $pageLink := .Permalink }}
    {{ range .Resources.ByType "image" }}
    <div class="masonry-item">
        <a href="{{ $pageLink }}">
            {{ $thumbnail := .Resize "600x" }}
            <img
                src="{{ $thumbnail.RelPermalink }}"
                alt="{{ .Title }}"
                loading="lazy"
                width="{{ $thumbnail.Width }}"
                height="{{ $thumbnail.Height }}"
            />
        </a>
    </div>
    {{ end }} 
    
    {{ end }}
</div>
{{ end }}
