.now-date {
    border-top: 2px dashed #eee;
    border-bottom: 2px dashed #eee;
    padding-top: 20px;
    margin-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 20px;
    font-style: italic;
}

.now-desc {
    border-top: 2px dashed #eee;
    border-bottom: 2px dashed #eee;
    padding-top: 10px;
    margin-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 10px;
    font-style: italic;
}
