{{ define "main" }}
<article>
    {{ .Content }} {{ if .Data.Singular }}
    <h3 class="media-filter">{{ i18n "filtering-for" }} "{{ .Title }}"</h3>
    {{ end }} {{ $pages := .Pages }} {{ if not $pages }}
    <ul class="media-list">
        <li>{{ i18n "no-posts" }}</li>
    </ul>
    {{ else }} {{ $paginator := .Paginate $pages 20 }}
    <ul class="media-list">
        {{ range $paginator.Pages.GroupByDate "2006-01-02" }} {{ range $index,
        $page := .Pages }} {{ $url := urls.Parse .Params.original_url}}
        <li>
            {{ if eq $index 0 }}
            <span>
                <time datetime='{{ .Date.Format "2006-01-02" }}' >
                    {{ .Date.Format (default "2006-01-02"
                    $.Site.Params.dateFormat) }}
                </time>
            </span>
            {{ else }}
            <span></span>
            {{ end }} {{ if .Params.spotify_url }}
            <a
                href="{{ .RelPermalink }}"
                target="_blank"
                rel="noopener noreferrer"
                data-tinylytics-event="outbound.spotify"
                data-tinylytics-event-value="{{ .Title }}"
            >
                <span class="media-title">{{ .Title }}</span>
                {{ with .Params.artist }}
                <span class="media-domain">(by {{ . }})</span>
                {{ end }}
            </a>
            {{ else }} {{ .Title }} {{ end }}
        </li>
        {{ end }} {{ end }}
    </ul>

    {{ partial "pagination.html" . }} {{ end }}
</article>
{{ end }}
