<!doctype html>
<html
    lang="{{ with .Site.LanguageCode }}{{ . }}{{ else }}en-US{{ end }}"
    class="theme-academia"
>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        {{- partialCached "favicon.html" . -}}
        <title>
            {{- block "title" . }}{{ with .Title }}{{ . }} | {{ end }}{{
            .Site.Title }}{{- end }}
        </title>

        {{- partial "seo_tags.html" . -}}
        <meta name="referrer" content="no-referrer-when-downgrade" />

        {{ $style := print "css/" (default "original" .Site.Params.themeStyle) ".css" |
        resources.Get | minify  | resources.Fingerprint "sha512"  }}
        <link href="{{ $style.RelPermalink }}" rel="stylesheet"  integrity="{{ $style.Data.Integrity }}" />

        {{ with .Site.Params.customcss }}
            {{- range . -}}
                {{ $customStyle := resources.Get . }}
                {{ $minStyle := $customStyle | minify | resources.Fingerprint "sha512" }}
                <link href="{{ $minStyle.RelPermalink }}" integrity="{{ $minStyle.Data.Integrity }}" rel="stylesheet">
            {{- end -}}
        {{ end }}

        
        {{ with .Site.Params.customjs }}
            {{- range . -}}
                {{ $customJS := resources.Get . }}
                {{ $minJS := $customJS | minify | resources.Fingerprint "sha512" }}
                <script src="{{ $minJS.RelPermalink }}" integrity="{{ $minJS.Data.Integrity }}"></script>
            {{- end -}}
        {{ end }}
        
        
        {{ with .OutputFormats.Get "rss" -}} 
        {{ printf `<link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }} 
        {{ end -}}

        {{- partial "custom_head.html" . -}}
    </head>

    <body>
        <header>{{- partialCached "header.html" . -}}</header>
        <main id="main-content">{{- block "main" . }}{{- end }}</main>
        <footer>{{- partialCached "footer.html" . -}}</footer>

        {{- partialCached "custom_body.html" . -}}
    </body>
</html>
