.book-posts {
    list-style: none;
    padding: 0;
    margin: 0;
}

.book-posts li {
    display: flex;
    align-items: baseline;
    margin-bottom: 0.7em;
}

.book-posts span {
    flex: 0 0 130px;
    margin-right: 1em;
}

.book-filter {
    color: var(--color-secondary);
    font-size: 1.1em;
    margin-bottom: 2em;
}

.book-domain {
    color: var(--color-dark);
    transition: color 0.3s ease;
    text-decoration: none;
}

.book-posts a {
    text-decoration: none;
}

.book-posts a .book-title {
    text-decoration: underline;
}

@media (max-width: 600px) {
    .book-posts li {
        flex-direction: column;
        margin-bottom: 1em;
    }

    .book-posts span {
        flex: 0 0 auto;
        margin-right: 0;
        margin-bottom: 0.3em;
    }

    .book-posts a {
        margin-left: 0;
    }
}

.book-posts a[target="_blank"]::before {
    content: "📚";
    color: var(--color-secondary);
    text-decoration: none;
    speak: none;
}
