.book-posts {
    composes: media-posts;
}

.book-filter {
    composes: media-filter;
}

.book-domain {
    composes: media-domain;
}

.book-title {
    composes: media-title;
}

.book-posts a[target="_blank"]::before {
    content: "📚 ";
    color: var(--color-secondary);
    text-decoration: none;
    speak: none;
}

.book-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
}

.book-item {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
}
