/* markup */

body {
    font-family: var(--font-family-base);
    margin: auto;

    padding-left: var(--padding-body);
    padding-right: var(--padding-body);
    padding-bottom: var(--padding-body);
    max-width: var(--size-width);
    text-align: left;
    background-color: var(--color-light);
    word-wrap: break-word;
    overflow-wrap: break-word;
    line-height: var(--line-height-base);
    color: var(--color-dark);
}

h1,
h2,
h3,
h4,
h5,
h6,
strong,
b {
    color: var(--color-primary);
}

a {
    color: var(--color-link);
}

a:hover {
    color: var(--color-link-hover);
}

a:visited {
    color: var(--color-link-visited);
}

.title {
    /* border: 1px solid; */
    text-decoration: none;
    /* margin-bottom: var(--margin-big); */
    display: flex;
    align-items: center;
}

.title h1 {
    font-size: var(--title-font-size);
    /* margin: 19.92px 0 19.92px 0; */
}

.title span {
    font-weight: 400;
}

.avatar {
    margin-right: 10px;
}

nav {
    /* border: 1px solid; */
    padding-bottom: calc(var(--margin-big));
    /* padding-top: var(--margin); */
    border-bottom: 1px solid var(--color-tertiary);
    /* margin-bottom: var(--margin); */
    margin-bottom: calc(var(--margin));
}

nav a {
    margin-right: var(--margin);
}

nav a:visited {
    color: var(--color-link);
}

nav a:hover {
    color: var(--color-link-hover);
}

textarea,
input {
    background-color: var(--color-tertiary);
    color: var(--color-primary);
    font-size: 1rem;
}

content {
    line-height: calc(var(--line-height-base) * 1.05);
}

table {
    width: 100%;
}

table,
th,
td {
    border: 1px solid;
    border-collapse: collapse;
    border-color: var(--color-dark);
    padding: 5px;
}

img {
    max-width: 100%;
}

code {
    padding: 2px 5px;
    color: var(--color-code-fg);
    background-color: var(--color-code-bg);
}

pre code {
    display: block;
    padding: var(--margin);
    white-space: pre-wrap;
    font-size: var(--font-size-base);
    overflow-x: auto;
    text-wrap: nowrap;
}

blockquote {
    margin-left: var(--margin);
    border-left: 1px solid var(--color-tertiary);
    color: var(--color-dark);
    padding-left: var(--spacing);
    font-style: italic;
}

footer {
    padding: var(--margin);
    text-align: center;
}

.helptext {
    color: var(--color-tertiary);
    font-size: 0.875rem;
}

.errorlist {
    color: var(--color-error);
    font-size: small;
}

/* blog posts */
ul.blog-posts {
    list-style-type: none;
    padding: unset;
}

ul.blog-posts li {
    display: flex;
    margin-bottom: var(--margin);
}

ul.blog-posts li span {
    flex: 0 0 130px;
}

ul.blog-posts li a:visited {
    color: var(--color-link-visited);
}

a.blog-tags {
    line-height: calc(var(--line-height-base) * 1.2);
    margin-right: var(--margin);
}

h3.blog-filter {
    margin-bottom: 0;
}

.disabled {
    color: currentColor;
    cursor: not-allowed;
    opacity: 0.7;
}

p.byline {
    font-style: italic;
}

/* "Skip to main content" link */
.skip-link {
    position: absolute;
    top: 5px;
    transform: translateY(-600%);
    transition: transform 0.3s;
    background-color: var(--color-light);
    padding: 0.5rem;
}

.skip-link:focus {
    transform: translateY(0%);
}

figure {
    margin-inline-start: 0em;
    margin-inline-end: 0em;
}

figure img {
    max-width: 100%;
    height: auto;
    object-fit: cover;
    padding: var(--margin);
    background-color: white;
    border: 1px solid var(--color-tertiary);
    border-radius: var(--border-radius-base);
}

@media screen and (max-width: 768px) {
    figure img {
        padding: 0px; /* Smaller padding on mobile */
        border-radius: var(
            --border-radius-sm
        ); /* Slightly smaller border-radius */
        border: 1px solid var(--color-primary);
    }
}

figcaption,
figcaption > p {
    margin-block-start: 0px;
    text-align: center;
    font-style: italic;
    color: var(--color-primary);
}

hr {
    border: 0;
    border-top: 2px solid var(--color-tertiary);
    margin: 2rem 0;
}

/* now */
/* blog posts */
ul.now-posts {
    list-style-type: none;
    padding: unset;
}

ul.now-posts li {
    display: flex;
    margin-bottom: var(--margin);
}

ul.now-posts li span {
    flex: 0 0 130px;
}

ul.now-posts li a:visited {
    color: var(--color-link-visited);
}

/* notes */

.notes hr {
    border: 0;
    border-top: 1px solid var(--color-tertiary);
    margin: 2rem 0;
}

.note-images img {
    max-width: 100%;
    height: auto;
    object-fit: cover;
    padding: var(--margin);
    background-color: white;
    border: 1px solid var(--color-tertiary);
    border-radius: var(--border-radius-base);
}

/* Media query for mobile devices */
@media screen and (max-width: 768px) {
    .note-images img {
        padding: 0px; /* Smaller padding on mobile */
        border-radius: var(
            --border-radius-sm
        ); /* Slightly smaller border-radius */
        border: 1px solid var(--color-primary);
    }
}

/* pagination */

.pagination {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: var(--margin);
    padding: 1rem 0;
}

.pagination a {
    text-decoration: none;
    /* padding: 0.5rem 1rem; */
}

.pagination .page-number {
    color: var(--color-primary);
}

