/* links */

/* .link-posts {
    list-style: none;
    padding: 0;
    margin: 0;
}

.link-posts .date {

}

.link-posts li {
    display: flex;
    align-items: baseline;
    margin-bottom: 0.7em;
}

.link-posts span {
    flex: 0 0 130px;
    margin-right: 1em;
}

.link-posts a[target="_blank"]::after {
    content: " ↪";
    color: var(--color-secondary);
    text-decoration: none;
}

.link-filter {
    color: var(--color-secondary);
    font-size: 1.1em;
    margin-bottom: 2em;
}

.link-domain {
    color: var(--color-dark);
    transition: color 0.3s ease;
    text-decoration: none;
}

.link-posts a {
    text-decoration: none;
}

.link-posts a .link-title {
    text-decoration: underline;
} */
/* links */
.link-posts {
    list-style: none;
    padding: 0;
    margin: 0;
}

.link-posts li {
    display: flex;
    align-items: baseline;
    margin-bottom: 0.7em;
}

.link-posts span {
    flex: 0 0 130px;
    margin-right: 1em;
}

.link-posts a[target="_blank"]::after {
    content: " ↪";
    color: var(--color-secondary);
    text-decoration: none;
}

.link-filter {
    color: var(--color-secondary);
    font-size: 1.1em;
    margin-bottom: 2em;
}

.link-domain {
    color: var(--color-dark);
    transition: color 0.3s ease;
    text-decoration: none;
}

.link-posts a {
    text-decoration: none;
}

.link-posts a .link-title {
    text-decoration: underline;
}

@media (max-width: 600px) {
    .link-posts li {
        flex-direction: column;
        margin-bottom: 1em;
    }

    .link-posts span {
        flex: 0 0 auto;
        margin-right: 0;
        margin-bottom: 0.3em;
    }

    .link-posts a {
        margin-left: 0;
    }
}
