.music-posts {
    composes: media-posts;
}

.music-filter {
    composes: media-filter;
}

.music-domain {
    composes: media-domain;
}

.music-title {
    composes: media-title;
}

.music-posts a[target="_blank"]::before {
    content: "🎵 ";
    color: var(--color-secondary);
    text-decoration: none;
    speak: none;
}
