{{ if .Params.showReply }}
{{ with .Site.Params.author.email }}
<p class="text-sm text-text-muted mt-4">
    <a
        class="underline hover:no-underline hover:text-text-primary"
        href='mailto:{{ . }}?subject={{ i18n "email-subject" }}"{{ default $.Site.Title $.Page.Title }}"'
        data-tinylytics-event="contact.email"
        data-tinylytics-event-value="post-reply"
    >
        {{ i18n "email-reply" }} ↪
    </a>
</p>
{{ end }}
{{ end }}



{{ if .Params.bsky }}
<div id="comments-section" data-bsky-uri="{{ .Params.bsky }}"></div>
{{ end }}
