<script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>

<meta property="og:image" content="https://harper.blog/images/og.png">
<meta property="og:video" content="https://harper.blog/images/og.mp4">
<meta property="og:video:width" content="1280">
<meta property="og:video:height" content="704">
<meta name="author" content="Harper Reed <{{.Site.Params.email}}>">
<link rel="shortcut icon" href="/favicon.ico">

<link href="https://twitter.com/harper" rel="me">
<link href="https://github.com/harperreed" rel="me">
<link href="https://reading.lol" rel="me">
<link href="https://photos.lol" rel="me">
<link href="harper@modest.com" rel="me">
<link href="harper@nata2.org" rel="me">
<link rel="token_endpoint" href="https://tokens.indieauth.com/token">
<link rel="authorization_endpoint" href="https://indieauth.com/auth">
