<p>
    {{ range .Site.Menus.footer }}

    <a href="{{ .URL }}">{{ .Name }}</a> &middot; {{ end }}
    <nobr
        >{{ i18n "copyright" | default "Copyright" }} &copy; {{
        .Site.Params.Name }}</nobr
    >
</p>
<p>
    <nobr
        >{{ i18n "sendMeAn" | default "Send me an" }}
        <a href="mailto:{{ .Site.Params.email }}"
            >{{ i18n "email" | default "email" }}</a
        ></nobr
    >
    &middot;
    <nobr
        >{{ i18n "generated" | default "Generated" }} {{ i18n "on" | default
        "on" }} {{ now.Format "Jan 2, 2006" }}</nobr
    >
</p>
