<a class="skip-link" href="#main-content" aria-label="Skip to main content">{{ i18n "skip-link" }}</a>
<a
    href="{{ relURL .Site.Home.RelPermalink }}"
    class="title"
    aria-label="Home"
>
    <img
        src="{{ .Site.Params.avatar }}"
        alt="Avatar"
        class="avatar"
        tabindex="0"
        aria-label="Avatar"
    />
    <h1 tabindex="0" aria-label="Site Title">{{ .Site.Title }}</h1>
</a>

<nav tabindex="0" aria-label="Main Navigation">{{- partialCached "nav.html" . -}}</nav>
