{{ define "main" }} {{ .Content }}

<h2>{{ i18n "recentPosts" | default "Recent Posts" }}</h2>
<ul class="blog-posts">
    {{ $notes := first 5 (where .Site.RegularPages "Section" "post") }} {{ range
    $notes }}
    <li>
        <span>
            <i>
                <time datetime='{{ .Date.Format "2006-01-02" }}' pubdate>
                    {{ .Date.Format (default "2006-01-02"
                    .Site.Params.dateFormat) }}
                </time>
            </i>
        </span>
        {{ if .Params.link }}
        <a href="{{ .Params.link }}" target="_blank" rel="noopener noreferrer"
            >{{ .Title }} ↪</a
        >
        {{ else }}
        <a href="{{ .RelPermalink }}" title="{{.Summary}}">{{ .Title }}</a>
        {{ end }}
    </li>
    {{ else }}
    <li>{{ i18n "no-posts" }}</li>
    {{ end }}
</ul>
<a href="/posts">{{ i18n "morePosts" | default "More Posts" }}</a>

<h2>{{ i18n "recentNotes" | default "Recent notes" }}</h2>
<ul class="blog-posts">
    {{ $notes := first 5 (where .Site.RegularPages "Section" "notes") }} {{
    range $notes }}
    <li>
        <span>
            <i>
                <time datetime='{{ .Date.Format "2006-01-02" }}' pubdate>
                    {{ .Date.Format (default "2006-01-02"
                    .Site.Params.dateFormat) }}
                </time>
            </i>
        </span>
        <a href="{{ .RelPermalink }}">{{ .Description | default .Title }}</a>
    </li>
    {{ else }}
    <li>{{ i18n "no-posts" }}</li>
    {{ end }}
</ul>
<a href="/notes">{{ i18n "moreNotes" | default "More Notes" }}</a>

{{ end }}
