{{ define "main" }}
<h1 class="page-title">{{ .Page.Title }}</h1>

<div class="now-desc">{{ .Content }}</div>
{{ range first 1 .Data.Pages }}

<div class="post markdown">{{.Content}}</div>

<div class="now-date">Last Updated: {{.Date.Format "Jan 2, 2006"}}</div>
{{end}}

<div>
    <h3>Past "nows:"</h3>
    <ul style="list-style-type: none; padding: 0px">
        {{ range after 1 .Data.Pages }}
        <li>
            <a href="{{ .RelPermalink }}">{{ .Date.Format "Jan 2, 2006" }}</a>
        </li>
        {{ end }}
    </ul>
</div>
{{ end }}
