{{ define "main" }}



{{ if not .Params.menu }}
<h1 aria-label="{{ i18n "page-title-aria" | default "Page title" }}">{{ .Title }}</h1>

{{ end }}
<content> {{ .Content }} </content>
<button class="tinylytics_kudos" data-path="{{ .RelPermalink }}"></button>
<p>
    {{ range (.GetTerms "tags") }}
    <a class="blog-tags" href="{{ .RelPermalink }}"
        >#{{ lower .LinkTitle }}</a
    >
    {{ end }}
</p>

<nav>
    <a href="/now" aria-label="{{ i18n "back-to-now" | default "Back to the current Now" }}"><span aria-hidden="true">&larr;</span> {{ i18n "back-to-now" | default "Back to the current Now" }}</a>
</nav>

{{ end }}