{{ define "main" }} {{ if not .Params.menu }}
<h1>{{ .Title }}</h1>
<p class="byline">{{ with .Params.book_author }}{{ i18n "by" | default "By" }} {{.}}{{ end }}</p>
{{ end }}
<content>
    <h3>{{.Params.tagline}}</h3>
    {{ with .Params.asin }} {{ $image := print
    "https://images-na.ssl-images-amazon.com/images/P/" . ".01._SCLZZZZZZZ.jpg"
    }}

    <img src="{{ $image  }}" alt="{{ i18n "book-cover-alt" | default "Book cover" }}" class="book-cover" />
    {{ end }} {{ .Content }}
</content>

<ul>
    {{ with .Params.review_rating}}
    <li>{{ i18n "my-rating" | default "My rating:" }} {{.}}/5</li>
    {{end}} {{ $read_at := .Params.date }} {{ with .Params.started_at}} {{
    $start := time . }} {{ $end := time $read_at }} {{ $duration := $end.Sub
    $start }} {{/* Get total hours */}} {{ $hours := $duration.Hours }} {{/* Get
    total days */}} {{ $days := div $duration.Hours 24 }}
    <li>{{ i18n "reading-duration" | default "Reading duration: Read in" }} {{math.Ceil $days}} {{ i18n "days" | default "days" }}</li>
    {{ end }} {{ with .Params.num_pages}}
    <li>{{ i18n "number-of-pages" | default "Number of pages:" }} {{.}} {{ i18n "pages" | default "Pages" }}</li>
    {{end}}
</ul>
{{ $url := print "https://www.amazon.com/dp/" .Params.asin "?tag="
.Site.Params.amazon_tag }}
<a href="{{ $url }}" target="_blank" rel="noopener noreferrer"
    >{{ i18n "read-this-book" | default "Read this book" }}</a
>

<p>
    {{ range (.GetTerms "tags") }}
    <a
        class="blog-tags"
        href="{{ .RelPermalink }}"
        aria-label="{{ i18n "tag-aria" (printf "%s" (lower .LinkTitle)) | default (printf "Tag: %s" (lower .LinkTitle)) }}"
        >#{{ lower .LinkTitle }}</a
    >
    {{ end }}
</p>

<nav>
    <a href="/media/books" aria-label="{{ i18n "back-to-books" | default "Back to the book list" }}"
        >{{ i18n "back-to-books" | default "Back to the book list" }}</a
    >
</nav>
{{ end }}
