name: Run Micro Posts Script

on:
    schedule:
        - cron: "*/10 * * * *" # Runs every 10 minutes
    workflow_dispatch: # Allows manual triggering

jobs:
    update-micro-posts:
        runs-on: ubuntu-latest
        env:
            NOTES_JSON_FEED_URL: ${{ secrets.JSON_FEED_URL }}
            NOTES_HUGO_CONTENT_DIR: ./content/notes

        steps:
            - name: Check out repository
              uses: actions/checkout@v2

            - name: Install the latest version of uv
              uses: astral-sh/setup-uv@v3
              with:
                  version: "latest"

            - name: Run script
              run: uv run ./tools/grab_micro_posts.py

            - name: Commit and push if changes
              run: |
                  git config --global user.name 'GitHub Action'
                  git config --global user.email 'action@github.com'
                  git add -A
                  git diff --quiet && git diff --staged --quiet || (git commit -m "Auto update micro posts" && git push)
